<%= content_for :body_id, "home" %>
<section class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-12">
				<hr>
				<h1 class="heading text-center">Habitude</h1>
      	<p class="slogan text-center">Change is habitual</p>
      </div>
      <div class="col-lg-6 checker">
      	
      </div>
      <div class="col-lg-6">
      	<h2>Habit tracking</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg-6">
      	<h2>Essentials</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg-6 checker">
      </div>
      <div class="col-lg-6 checker">
      	
      </div>
      <div class="col-lg-6">
      	<h2>Comfort zone</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</section>