*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root
{
	--cRate: '----';
}
body
{
	position: relative;
	background-color: #000;
}
h1, h2, h3, h4, h5, h6, p, li, td, a, button, label, input, span, small
{
	color: #fff;
	font-family: "Montserrat", sans-serif;
	background-color: inherit;
	transition: 0.2s ease-in-out 0s;
}
a:hover
{
	color: #fff;
	text-decoration: none;
}
h1
{
	font-size: 50px;
}
h2
{
	font-size: 32px;
}
p, span, input
{
	margin: 0;
	font-size: 22px;
}
.underscore:after
{
	width: 110px;
	display: block;
	content: "";
	margin: 5px 0 15px;
	border-bottom: 4px solid #fff;
}
.underscore.pro:after
{
	width: 120px;
	display: inline-block;
}
#home h1
{
	font-size: 100px;
	font-weight: 600;
}
.slogan
{
	font-size: 60px;
	font-weight: 100;
}
#home hr:not(size)
{
	color: #fff;
	width: 10%;
	height: 5px;
	margin: 0 auto;
	opacity: 1;
}
#home h2
{
	font-size: 50px;
}
.checker
{
	background-color: #404141;
}
#home .col-lg-6
{
	padding: 70px;
}
nav.navbar
{
	padding: 0;
}
nav.navbar-light ul.navbar-nav li a.nav-link
{
	color: #fff;
	padding: 25px 27px;
	border-radius: 0;
}
nav.navbar-light ul.navbar-nav li a.nav-link:hover
{
	color: #000;
	background-color: #fff;
	border-color: transparent;
}
.plus-new
{
	color: #000;
	width: 50px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	background-color: #fff;
	display: block;
	position: relative;
	top: 10px;
	left: 10px;
	border: 2px solid transparent;
	border-radius: 100%;
	text-decoration: none;
}
.plus-new:hover
{
	color: #fff;
	background-color: #000;
	border-color: #fff;
}
.plus-new:hover > .plus
{
	color: #fff;
}
.plus
{
	color: #000;
	font-size: 50px;
	line-height: 1;
	position: absolute;
	top: 1%;
	left: 1%;
	transform: translate(25%, -3%);
	background-color: transparent;
}
.habit
{
	height: 650px;
	margin: 0 20px 20px 0;
	padding: 20px;
	position: relative;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
}
.tracking > div:nth-child(2)
{
	padding: 57px 10px 0 0;
}
.score
{
	color: #283747;
	font-weight: bold;
	border-radius: 3px;
}
.good
{
	background: linear-gradient(to bottom, #e67e22 20%, #fff176 80%);
}
.neutral
{
	color: #fff;
	text-shadow: 1px 1px 10px #000;
	background: linear-gradient(to bottom, #7cffa7 20%, #3498db 80%);
}
.bad
{
	color: #fff;
	text-shadow: 1px 1px 10px #000;
	background: linear-gradient(to bottom, #f44336 20%, #ab47bc 80%);
}
.t-date
{
	border: 1px solid #fff;
}
.t-date > div
{
	padding: 4px 20px;
}
.t-date > div:first-child
{
	border-right: 1px solid #fff;
}
.intention
{
	position: relative;
}
input[type="checkbox"]
{
	width: 35px;
	height: 35px;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50%, 50%);
	z-index: 100;
	cursor: pointer;
}
.tick
{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 0;
	transform: translate(50%, 50%);
	transition: 0.2s ease-in-out 0s;
}
input[type="checkbox"]:hover ~ .tick
{
	background-color: rgba(0, 0, 0, 0.5);
}
input[type="checkbox"]:checked ~ .tick, .tick:checked
{
	border: 0;
	background-color: #000;
}
.tick:after
{
	display: none;
	content: "";
	position: absolute;
}
input[type="checkbox"]:checked ~ .tick:after
{
	display:  block;
}
.tick:after
{
	width: 14px;
	height: 28px;
	top: -50%;
	left: 42%;
	border: solid #fff;
	border-width: 0 7px 7px 0;
	-webkit-transform: rotate(45deg) translate(50%, 50%);
	-ms-transform: rotate(45deg) translate(50%, 50%);
	transform: rotate(45deg) translate(50%, 50%);
}
.inline_edit
{
	width: 85%;
	border: 0;
	border-bottom: 1px solid;
	position: relative;
	outline: 0;
}
.inline-edit button, .inline-edit a
{
	display: none;
}
.track
{
	position: relative;
	text-align: center;
}
.track p a, .in-track
{
	width: 70px;
	height: 70px;
	font-size: 28px;
	margin: 0 10px 10px 0;
	border: 1px solid #fff;
	display: inline-grid;
	align-items: center;
	text-decoration: none;
}
.track p
{
	margin: 0;
	text-align: center;
}
.daycheck
{
	position: absolute;
	top: 0;
	left: 0;
}
.day
{
	font-size: 30px;
}
.done
{
	color: #000;
	width: 70px;
	position: absolute;
	bottom: 11px;
	left: 0;
	border: 0;
	background-color: #fff;
	outline: 0;
}
.intention .done
{
	padding: 5px 0;
	right: 0;
	bottom: 0;
	left: auto;
}
.read-only
{
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	cursor: default;
}
input
{
	border: 1px solid #fff;
}
.n-btn
{
	color: #000;
	padding: 8px 12px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	text-decoration: none;
}
.n-btn:hover
{
	color: #fff;
	background-color: #000;
	border: 1px solid #fff;
}
.progress-tracking
{
	width: 180px;
	height: 180px;
	position: relative;
}
.insights
{
	margin-top: 20px;
}
.insights p
{
	padding: 10px 0;
}
.frag
{
	margin-bottom: 20px;
}
.frag p a
{
	margin: 0 20px 20px 0;
	position: absolute;
	right: 0;
	bottom: 0;
}
.latest
{
	font-size: 35px;
	line-height: 0;
}
.outer-ring
{
	width: inherit;
	height: inherit;
	padding: 14px;
	border-radius: 50%;
	border: 1px solid transparent;
	box-shadow: 0 0 14px #fff;
}
.inner-ring
{
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid transparent;
}
.inner-ring p
{
	margin: 0;
	font-size: 35px;
	font-weight: bold;
}
svg
{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-90deg);
}
circle
{
	fill: none;
	stroke-width: 20px;
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
	animation: completion 1.5s linear forwards;
}
circle.good
{
	stroke: url(#good-tracking);
}
circle.neutral
{
	stroke: url(#neutral-tracking);
}
circle.bad
{
	stroke: url(#bad-tracking);
}
@keyframes completion
{
	0% {stroke-dashoffset: 500;}
	100% {stroke-dashoffset: var(--cRate);}
}
#celebration
{
	color: #000;
	display: none;
	width: 600px;
	padding: 30px 40px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
}
.c_item
{
	width: 80%;
	height: auto;
	margin: 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: move;
}
.c_item p, .c_item a, .c_item .heading
{
	color: #000;
	margin: 0;
	padding: 0;
}
#challenges .n-btn, .c-date
{
	font-size: 14px;
}
.c-date
{
	text-align: right;
}
footer
{
	color: #404141;
}
@media only screen and (max-width: 991px)
{
}